<div class="well">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-connectdevelop fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">{{totalDevices}}</div>
								<div>Total Devices</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="panel panel-green">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-tasks fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">{{activeDevices}}</div>
								<div>Active Devices</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="panel panel-red">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-chain-broken fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">{{inactiveDevices}}</div>
								<div>Inactive Devices</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="panel panel-yellow">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-shopping-cart fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">0</div>
								<div>Orders Placed</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Device Overview</h2>
						<div style="margin-top: 5px;">
							<a href="#/devices">
								<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
								<span class="pull-right">View Details&nbsp;</span>
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<table class="table">
							<thead>
								<tr>
									<th>Device ID</th>
									<th>Name</th>
									<th>Host</th>
									<th>Power Usage</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="device in devices">
									<td scope="row">{{device.device_id}}</td>
									<td>{{device.name}}</td>
									<td>{{device.host}}</td>
									<td>{{device.power_usage}}</td>
									<td>
										<span ng-if="device.status == 'active'" class="label label-success">&nbsp;{{device.status}}&nbsp;</span>
										<span ng-if="device.status == 'inactive'" class="label label-default">{{device.status}}</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Cluster Overview</h2>
						<div style="margin-top: 5px;">
							<a href="#/clusters">
								<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
								<span class="pull-right">View Details&nbsp;</span>
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<table class="table">
							<thead>
								<tr>
									<th>Cluster ID</th>
									<th>Name</th>
									<th>Max Power</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="cluster in clusters">
									<td scope="row">{{cluster.cluster_id}}</td>
									<td>{{cluster.name}}</td>
									<td>{{cluster.power_limit}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
